* {
    font-family: "Roboto Light", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --stats-padding-y: 0.5rem;
}

.h-workflow {
    height: 65vh;
}

.text-xxs {
    font-size: 0.5rem;
}

.vis-tooltip {
    position: absolute;
    border-radius: 0 !important;
    border-width: 0 !important;
    padding: 0 !important;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    z-index: 5;
}

.w-fit-content {
    width: fit-content;
}

.login-container {
    background: url('/static/img/background.jpg') center no-repeat;
    background-size: cover;
}

.point {
    width: 2rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.type {
    width: 6rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.display-name {
    width: 10rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.status {
    width: 8rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.serial-number {
    width: 9rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.gpon-port {
    width: 8rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.profile {
    width: 8rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.mac-address {
    width: 9rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.ip-address {
    width: 9rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.signal {
    width: 10rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.distance {
    width: 7rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.uptime {
    width: 10rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.temperature {
    width: 8rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}

.site {
    width: 9rem;
    padding-top: var(--stats-padding-y);
    padding-bottom: var(--stats-padding-y);
}