{% extends "base.html" %}
{% block title %}AC-Vision | Devices{% endblock %}
{% block mainTitle %}Devices{% endblock %}
{% block content %}
    <div class="w-full h-20 flex flex-row p-0 items-center justify-center my-4 space-x-2">
        <div id="dasan"
             class="bg-blue-900 h-28 w-28 p-2 flex justify-center items-center hover:bg-blue-500 transition duration-150 ease-in-out cursor-pointer">
            <img src="{{ url_for('static', filename='img/models/olt-dasan.png') }}" class="" alt>
        </div>
        <div id="ubiquiti"
             class="bg-blue-900 h-28 w-28 p-2 flex justify-center items-center hover:bg-blue-500 transition duration-150 ease-in-out cursor-pointer">
            <img src="{{ url_for('static', filename='img/models/olt-ubiquiti.png') }}" class="" alt>
        </div>
    </div>
    <div id="ubiquiti_content"
         class="hidden flex-col bg-white rounded mt-4 shadow-lg p-4 transition ease-in-out duration-150">
        <span class="w-20 text-center text-sm px-2 font-medium bg-blue-500 bg-opacity-10 text-blue-800 py-0.5 m-0">OLT</span>
        <table class="table-auto text-center divide-y mb-4 overflow-auto border-blue-500 border-2 border-solid border-opacity-10">
            <tr class="bg-gray-50">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Status</th>
                <th class="py-2 px-4">@MAC</th>
                <th class="py-2 px-4">IP</th>
                <th class="py-2 px-4">Temperature</th>
                <th class="py-2 px-4">Uptime</th>
            </tr>
            <tr class="text-gray-800">
                <td class="py-1.5">{{ olt_ubiquiti.displayName }}</td>
                <td class="whitespace-nowrap">
                    <span class="rounded-full text-xs px-2 py-1 border-2 border-{{ ('red','green')[olt_ubiquiti.status == "active"] }}-500 uppercase text-{{ ('red','green')[olt_ubiquiti.status == "active"] }}-500">{{ ('Disconnected','Connected')[olt_ubiquiti.status == "active"] }}</span>
                </td>
                <td>{{ olt_ubiquiti.mac }}</td>
                <td>{{ olt_ubiquiti.ip }}</td>
                <td>{{ olt_ubiquiti.temperature }}°</td>
                <td class="text-{{ ('red','green')[olt_ubiquiti.status == "active"] }}-500">{{ olt_ubiquiti.uptime }}</td>
            </tr>
        </table>
        <span class="w-20 text-center text-sm px-2 font-medium bg-blue-500 bg-opacity-10 text-blue-800 py-0.5 m-0">ONUs</span>
        <table class="table-auto text-center divide-y overflow-auto border-blue-500 border-2 border-solid border-opacity-10">
            <tr class="bg-gray-50">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Status</th>
                <th class="py-2 px-4">Port</th>
                <th class="py-2 px-4">Serial Number</th>
                <th class="py-2 px-4">@MAC</th>
                <th class="py-2 px-4">IP</th>
                <th class="py-2 px-4">RxPower</th>
                <th class="py-2 px-4">Distance</th>
                <th class="py-2 px-4">Uptime</th>
            </tr>
            {% for onu in onus_ubiquiti %}
                <tr class="text-gray-800 text-sm">
                    <td>{{ onu.displayName }}</td>
                    <td class="whitespace-nowrap">
                        <span class="rounded-full text-xs px-2 py-1 border-2 border-{{ ('red','green')[onu.status == "active"] }}-500 uppercase text-{{ ('red','green')[onu.status == "active"] }}-500">{{ ('Disconnected','Connected')[onu.status == "active"] }}</span>
                    </td>
                    <td>GPON {{ onu.port }}</td>
                    <td>{{ onu.serialNumber }}</td>
                    <td>{{ onu.mac }}</td>
                    <td>{{ onu.ip }}</td>
                    <td class="flex flex-row items-center justify-center space-x-1 py-1.5">
                        <div class="overflow-hidden w-1/4 inline-block h-1 flex rounded bg-{{ (("yellow","red")[onu.rxPower<-25],"green")[onu.rxPower>-15] }}-300">
                            <div
                                    class="{{ (("w-1/2","w-1/4")[onu.rxPower<-20],"w-3/4")[onu.rxPower>-10] }} shadow-none whitespace-nowrap bg-{{ (("yellow","red")[onu.rxPower<-25],"green")[onu.rxPower>-15] }}-600"
                            ></div>
                        </div>
                        <span>{{ onu.rxPower }} dBm</span>
                    </td>
                    <td>{{ onu.distance }}m</td>
                    <td class="text-{{ ('red','green')[onu.status == "active"] }}-500">{{ onu.uptime }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="dasan_content"
         class="hidden flex-col bg-white rounded mt-4 shadow-lg p-4 transition ease-in-out duration-150">
        <table class="w-full table-auto text-center divide-y">
            <tr class="bg-gray-50">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Status</th>
                <th class="py-2 px-4">Port</th>
                <th class="py-2 px-4">Serial Number</th>
                <th class="py-2 px-4">Profile</th>
                <th class="py-2 px-4">RxPower</th>
                <th class="py-2 px-4">Distance</th>
                <th class="py-2 px-4">Uptime</th>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/devices.js') }}"></script>
{% endblock %}

