{% extends "base.html" %}
{% block title %}AC-Vision | Workflow{% endblock %}
{% block mainTitle %}Workflow{% endblock %}
{% block content %}
<div class="flex flex-col bg-white rounded mt-4 shadow-lg p-4">
    <div id="myworkflow" class="w-full h-workflow"></div>
</div>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script>
    function htmlTitle(html) {
        const container = document.createElement("div");
        container.innerHTML = html;
        return container;
    }

    function draw() {
        const container = document.getElementById("myworkflow");

        const nodes = JSON.parse('{{ nodes | tojson }}');
        const edges = JSON.parse('{{ edges | tojson }}');

        const data = {
            nodes: nodes,
            edges: edges,
        };

        const options = {
            autoResize: true,
            clickToUse: false,
            height: '100%',
            width: '100%',
            layout: {
                hierarchical: {
                    enabled: true,
                    direction: "UD",
                    sortMethod: "directed",
                    blockShifting: true,
                    edgeMinimization: true
                },
            },
            interaction: {
                zoomView: false
            }
        };

        const network = new vis.Network(container, data, options);
    }

    window.addEventListener("load", () => {
        draw();
    });
</script>
{% endblock %}

