<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toasty.min.css') }}">
    {% block addons %}{% endblock %}
</head>
<body>
<div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <aside
            class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-blue-900"
    >
        <div class="sidebar-header flex items-center justify-center py-4">
            <div class="inline-flex">
                <a href="#" class="inline-flex flex-row items-center">
                    <img class="w-20 h-10 text-red-400" src="{{ url_for('static', filename='img/logo2.png') }}" alt/>
                    <span class="leading-10 text-gray-100 text-2xl font-bold ml-1 uppercase">Vision</span>
                </a>
            </div>
        </div>
        <div class="sidebar-content px-4 py-6">
            <ul class="flex flex-col w-full">
                <li class="my-px">
                    <a
                            href="/"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-700 bg-gray-100"
                    >
                        <span class="text-lg text-gray-400 icon-sphere"></span>
                        <span class="ml-3">Dashboard</span>
                    </a>
                </li>
                <li class="my-px">
                    <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase">Supervision</span>
                </li>
                <li class="my-px">
                    <a
                            href="/workflow"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-gray-400 icon-tree"></span>
                        <span class="ml-4">Workflow</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                            href="/devices"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-gray-400 icon-table2"></span>
                        <span class="ml-4">Devices</span>
                    </a>
                </li>
                <li class="my-px">
                    <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase">Account</span>
                </li>
                <li class="my-px">
                    <a
                            href="#"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-gray-400 icon-user"></span>
                        <span class="ml-4">Profile</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                            href="#"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-gray-400 icon-bell"></span>
                        <span class="ml-4">Notifications</span>
                        <span class="flex items-center justify-center text-xs text-red-500 font-semibold bg-red-100 h-6 px-2 rounded-full ml-auto">2</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                            href="#"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-gray-400 icon-cog"></span>
                        <span class="ml-4">Settings</span>
                    </a>
                </li>
                <li class="my-px">
                    <a
                            href="#"
                            id="logout"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                    >
                        <span class="flex items-center justify-center text-lg text-red-500 icon-exit"></span>
                        <span class="ml-4 text-red-500">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
        <header class="header bg-white shadow py-4 px-4">
            <div class="header-content flex items-center flex-row">
                <form action="#">
                    <div class="hidden md:flex relative">
                        <div
                                class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
                        >
                            <span class="icon-search"></span>
                        </div>
                        <input
                                id="search"
                                type="text"
                                name="search"
                                class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-300 w-full h-10 focus:outline-none focus:border-indigo-400"
                                placeholder="Search..."
                        />
                    </div>
                </form>
                <div class="flex ml-auto">
                    <a href class="flex flex-row items-center">
                        <img
                                src="https://cdn.shopify.com/s/files/1/2792/8560/articles/des-paysages-canadiens-a-couper-le-souffle-banner-facebook.jpg?v=1593119188"
                                alt
                                class="h-10 w-10 bg-gray-200 border rounded-full"
                        />
                        <span class="flex flex-col ml-2">
                <span class="truncate w-40 font-semibold tracking-wide leading-none">{{ user['last_name'] }} {{ user['first_name'] }}</span>
                <span class="truncate w-20 text-gray-500 text-xs leading-none mt-1">{{ user['role'] }}</span>
              </span>
                    </a>
                </div>
            </div>
        </header>
        <main class="main-content flex flex-col flex-grow p-4">
            <h1 class="font-bold text-2xl text-gray-700">{% block mainTitle %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer px-4 py-6">
            <div class="footer-content">
                <p class="text-sm text-gray-600 text-center">© AC-Vision 2021. All rights reserved. by <a
                        class="text-blue-900 hover:text-blue-500 font-bold"
                        href="https://github.com/HakkaOfDev">HakkaOfDev</a> & <a
                        class="text-blue-900 hover:text-blue-500 font-bold"
                        href="https://github.com/PtitNost">PtitNost</a></p>
            </div>
        </footer>
    </main>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toasty.min.js') }}"></script>
<script type="text/javascript">
    $('#logout').click((event) => {
        event.preventDefault();
        $.cookie('user', null)
        new Toasty({
            duration: 3000, transition: "fade", progressBar: true, autoClose: true, onHide: () => {
                $(location).attr("href", "/");
            }
        }).success("You've been disconnected. Waiting for redirecting...")
    })
</script>
</body>
</html>