wheel==0.37.0
Werkzeug==2.0.2
uvicorn==0.15.0
urllib3==1.26.7
typing-extensions==3.10.0.2
SQLAlchemy==1.4.26
sniffio==1.2.0
setuptools==58.5.3
requests==2.26.0
pysnmp==4.4.12
pysmi==0.3.4
pydantic==1.8.2
pycryptodomex==3.11.0
pyasn1==0.4.8
ply==3.11
pip==21.3.1
passlib==1.7.4
MarkupSafe==2.0.1
itsdangerous==2.0.1
idna==3.3
h11==0.12.0
fastapi==0.70.0
click==8.0.3
charset-normalizer==2.0.7
snmp-cmds==1.0
certifi==2021.10.8
asgiref==3.4.1
anyio==3.3.4
psycopg2-binary==2.9.1
python-multipart==0.0.5
python-jose==3.3.0
bcrypt==3.2.0
redis==4.1.0
schedule==1.1.0
timeloop==1.0.2
python-socketio==5.5.2
bidict==0.21.4
python-engineio==4.3.1